---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Contact as Props } from '~/types';

const { id, isDark = false, classes = {}, bg = await Astro.slots.render('bg') } = Astro.props;
---

<!-- ====== Contact Start ====== -->
<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <!-- <section id="contact" class="relative py-20 md:py-[120px]"> -->
  <!-- <div class="absolute top-0 left-0 -z-[1] w-full dark:bg-dark h-full"></div> -->
  <!-- <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div> -->
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent lg:h-[45%] xl:h-1/2"></div>
  </Fragment>
  <!-- <div class="absolute top-0 left-0 -z-[1] h-1/2 w-full bg-[#E9F9FF] dark:bg-dark-700 lg:h-[45%] xl:h-1/2"></div> -->
  <div class="container px-4">
    <div class="-mx-4 flex flex-wrap items-center">
      <div class="w-full px-4 lg:w-4/12 xl:w-5/12">
        <div class="ud-contact-content-wrapper">
          <div class="ud-contact-title mb-12 lg:mb-[150px]">
            <span class="mb-6 block text-base font-medium text-dark dark:text-white"> CONTACT US </span>
            <h2 class="max-w-[260px] text-[35px] leading-[1.14] font-semibold text-dark dark:text-white">
              Let's talk about your problem.
            </h2>
          </div>
          <div class="mb-12 flex flex-wrap justify-between lg:mb-0">
            <div class="mb-8 flex w-[330px] max-w-full">
              <div class="mr-6 text-[32px] text-primary">
                <svg width="34" height="25" viewBox="0 0 34 25" class="fill-current">
                  <path
                    d="M30.5156 0.960938H3.17188C1.42188 0.960938 0 2.38281 0 4.13281V20.9219C0 22.6719 1.42188 24.0938 3.17188 24.0938H30.5156C32.2656 24.0938 33.6875 22.6719 33.6875 20.9219V4.13281C33.6875 2.38281 32.2656 0.960938 30.5156 0.960938ZM30.5156 2.875C30.7891 2.875 31.0078 2.92969 31.2266 3.09375L17.6094 11.3516C17.1172 11.625 16.5703 11.625 16.0781 11.3516L2.46094 3.09375C2.67969 2.98438 2.89844 2.875 3.17188 2.875H30.5156ZM30.5156 22.125H3.17188C2.51562 22.125 1.91406 21.5781 1.91406 20.8672V5.00781L15.0391 12.9922C15.5859 13.3203 16.1875 13.4844 16.7891 13.4844C17.3906 13.4844 17.9922 13.3203 18.5391 12.9922L31.6641 5.00781V20.8672C31.7734 21.5781 31.1719 22.125 30.5156 22.125Z"
                  ></path>
                </svg>
              </div>
              <div>
                <h5 class="mb-[18px] text-lg font-semibold text-dark dark:text-white">How Can We Help?</h5>
                <p class="text-base text-body-color dark:text-dark-6">
                  <p class="text-base text-body-color dark:text-dark-6">
                    <span class="email">
                      <span class="name">info</span><span class="at">@</span><span class="domain"
                        >secondphase.com.au</span
                      >
                    </span>
                  </p>
                </p>
                <p class="text-base text-body-color dark:text-dark-6">
                  <p class="text-base text-body-color dark:text-dark-6">
                    <span class="email">
                      <span class="name">contact</span><span class="at">@</span><span class="domain"
                        >secondphase.com.au</span
                      >
                    </span>
                  </p>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full px-4 lg:w-5/12 xl:w-5/12">
        <div
          class="rounded-lg shadow-[0_4px_30px_rgba(0,0,0,0.1)] dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-[#ffffff29] bg-white dark:bg-slate-900 p-6"
        >
          <h3 class="mb-8 text-2xl font-semibold md:text-[28px] md:leading-[1.42] text-dark dark:text-white">
            Send us a Message
          </h3>
          <form id="contactForm">
            <div class="mb-[22px]">
              <label for="fullName" class="block text-sm text-body-color dark:text-dark-6 mb-4">Full Name*</label>
              <input
                type="text"
                name="name"
                placeholder="enter your name"
                class="bg-transparent w-full text-body-color dark:text-dark-6 placeholder:text-body-color/60 border-0 border-b border-[#f1f1f1] dark:border-dark-3 pb-3 focus:border-primary focus:outline-none"
              />
            </div>
            <div class="mb-[22px]">
              <label for="email" class="block text-sm text-body-color dark:text-dark-6 mb-4">Email*</label>
              <input
                type="email"
                name="email"
                placeholder="enter@yourmail.com"
                class="bg-transparent w-full text-body-color dark:text-dark-6 placeholder:text-body-color/60 border-0 border-b border-[#f1f1f1] dark:border-dark-3 pb-3 focus:border-primary focus:outline-none"
              />
            </div>
            <div class="mb-[22px]">
              <label for="company" class="block text-sm text-body-color dark:text-dark-6 mb-4">Company Name*</label>
              <input
                type="text"
                name="company"
                placeholder="enter company"
                class="bg-transparent w-full text-body-color dark:text-dark-6 placeholder:text-body-color/60 border-0 border-b border-[#f1f1f1] dark:border-dark-3 pb-3 focus:border-primary focus:outline-none"
              />
            </div>
            <div class="mb-[30px]">
              <label for="message" class="block text-sm text-body-color dark:text-dark-6 mb-4">Message*</label>
              <textarea
                name="message"
                rows="3"
                placeholder="write a short description"
                class="bg-transparent w-full text-body-color dark:text-dark-6 placeholder:text-body-color/60 resize-none border-0 border-b border-[#f1f1f1] dark:border-dark-3 pb-3 focus:border-primary focus:outline-none"
              ></textarea>
            </div>
            <div class="mb-0">
              <button
                type="submit"
                class="inline-flex items-center justify-center rounded-md bg-primary py-3 px-10 text-base font-medium text-white transition duration-300 ease-in-out hover:bg-blue-dark"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- </section> -->
</WidgetWrapper>
<!-- ====== Contact End ====== -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById('contactForm');
    if (form) {
      form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());

        const isLocalDevelopment = window.location.hostname === 'localhost' && window.location.port === '4321';
        const baseUrl = isLocalDevelopment ? 'http://localhost:5001/secondphase-b73a4/us-central1' : '';
        const functionUrl = `${baseUrl}/submitContactForm`;

        try {
          const response = await fetch(functionUrl, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ data: data }),
          });

          if (response.ok) {
            alert('Message sent successfully!');
            form.reset();
          } else {
            throw new Error('Failed to send message');
          }
        } catch (error) {
          console.error('Error:', error);
          alert('Failed to send message. Please try again later.');
        }
      });
    } else {
      console.error('Contact form not found in the DOM');
    }
  });
</script>
