---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
//import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Services from '~/components/widgets/Services.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import ContactUs from '~/components/widgets/Contact2.astro';

const metadata = {
  title: 'Expert SAP BTP Solutions | The BTP Cloud Sherpas',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Second Phase Solutions",
      "url": "https://secondphase.com.au",
      "logo": "https://secondphase.com.au/_astro/default.Cx75yUzL_vvg51.jpg",
      "description": "We specialize in resolving SAP BTP challenges to optimize costs, improve performance, and streamline systems.",
      "sameAs": [
        "https://www.linkedin.com/in/johnspatterson/",
        "https://twitter.com/jasper_07"
      ],
      "additionalType": "WebSite",
      "@id": "https://secondphase.com.au/#services"
    }
    </script>
  <!-- Hero Widget ******************* -->
  <Hero2
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: '#contact',
        icon: 'tabler:message',
      },
      { text: 'Services', href: '#services' },
    ]}
    image={{
      src: '~/assets/images/sherpa.png',
      alt: 'Hero Image',
    }}
  >
    <Fragment slot="title">
      The SAP BTP <span class="text-accent dark:text-white highlight"> Cloud   <br /> Sherpas</span>
    </Fragment>

    <Fragment slot="subtitle">
      Let Us Handle the Heavy Lifting on Your Cloud Journey.
 
    </Fragment>
  </Hero2>
  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features2
    id="features"
    tagline="Your Guides"
    title="Navigating Challenges Together"
    subtitle="We can help shave the hairy yaks, keep you moving forward, and ensure you’re on the right path. "
    items={[
      {
        title: 'SAP Technology Problem-Solvers',
        description:
          'We simplify SAP technology adoption by helping businesses overcome obstacles that often lead to technical debt. We quickly identify core issues and implement effective solutions, allowing your team to focus on their priorities and deliver business value. This leads to easier-to-support systems, improved productivity, and an efficient SAP cloud platform aligned with your business goals.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Collaborative Knowledge Transfer',
        description:
          "As player-coaches, we work alongside your team, sharing our expertise in managing diverse, disparate environments. We meet you where you are, navigating the intricacies of your technology landscape.  Our aim is to equip your team with the skills needed to effectively manage and optimize your technology platform. This ensures you're better prepared for future challenges in your evolving business environment.",
        icon: 'flat-color-icons:collaboration',
      },
      {
        title: 'Flexible, On-Demand Support',
        description:
          'We provide access to senior technical expertise through adaptable engagement models. We offer principal, lead, and architect-level support in cloud technologies, software development, and SAP systems. This approach delivers cost-effective, specialized knowledge for critical decisions and complex problem-solving, ensuring you have the right expertise when needed, without the overhead of full-time hires.',
        icon: 'flat-color-icons:todo-list',
      },
    ]}
  />

  <!-- Services Widget **************** -->
  <section id="services" class="relative not-prose scroll-mt-[72px]"></section>
  <Services
    id="SAPPlatformMigration"
    isReversed
    tagline="What We Do"
    title="From Day 0 to Day 2 and Beyond."
    subtitle="Let's get you headed in the right direction."
    items={[]}
    image={{
      src: 'https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80',
      alt: 'SAP Platform Migration',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold">SAP Platform Migration</h2>
      <p class="text-muted mt-2">
        Migrating complex SAP processes from legacy platforms to modern cloud solutions presents significant challenges.
        We have successfully assisted large enterprises in transitioning their SAP On-premise and NEO workloads to the
        Business Technology Platform and Cloud Foundry. Our detailed approach begins with in-depth technical analysis,
        followed by a tailored migration strategy. We guide the entire process, emphasizing knowledge transfer and
        change management to ensure minimal disruption and optimized performance in your new cloud environment.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Services>

  <!-- Services Widget **************** -->

  <Services
    id="CleanCoreBTPStrategy"
    isAfterContent
    items={[]}
    image={{
      src: 'https://images.unsplash.com/photo-1541960071727-c531398e7494?q=80&w=2448&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold">Clean Core BTP Strategy</h2>
      <p class="text-muted mt-2">
        Long-term SAP customers face inertia and enormous technical debt from heavily customized systems. With ECC
        support ending in 2027, many feel forced to rush migration without addressing these issues. We have assisted
        large organizations in breaking this cycle through a detailed assessment of custom developments and integrations
        in their SAP systems. Our approach provides insights to prioritize customizations for standardization,
        retirement, or gradual migration to SAP BTP using ABAP Cloud. This enables a measured strategy that balances
        migration urgency with debt reduction, maximizing S/4HANA Cloud's benefits while aligning with your
        organization’s digital transformation goals.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Services>

  <!-- Services Widget **************** -->

  <Services
    id="LegacyApplicationModernization"
    isReversed
    items={[]}
    image={{
      src: 'https://images.unsplash.com/photo-1560092057-552a70533807?q=80&w=2672&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold">Legacy Application Modernization</h2>
      <p class="text-muted mt-2">
        You have large legacy SAP applications which need modernizing. Our team has worked with complex,
        custom-developed systems that no longer meet evolving business needs. We begin with comprehensive analysis of
        all existing systems and custom code. Based on this, we determine the best modernization strategy - whether it's
        rehosting, refactoring, leveraging new cloud services, or rebuilding. We then guide you through the chosen
        modernization path, ensuring knowledge transfer and minimizing business disruption while optimizing for future
        scalability and performance.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Services>

  <Services
    id="DevOpsAdoption"
    isAfterContent
    items={[]}
    image={{
      src: 'https://images.unsplash.com/photo-1667372335962-5fd503a8ae5b?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold">DevOps Adoption</h2>
      <p class="text-muted mt-2">
        SAP teams often struggle with outdated practices, hindering their ability to fully leverage cloud benefits. We
        have successfully helped large organizations align their SAP operations with modern DevOps principles, enhancing
        automation, integration, and collaboration. Our approach streamlines development practices while maintaining
        robust governance and security. This enables faster, higher-quality code and more reliable deployments,
        ultimately reducing risks and improving ROI. By balancing agility with necessary controls, we ensure code
        readiness for frequent releases, all while preserving essential CAB and RAB processes for production deployment.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Services>

  <!-- Services Widget **************** -->

  <Services
    id="BTPMultitenantProductDevelopment"
    isReversed
    items={[]}
    image={{
      src: 'https://images.unsplash.com/photo-1486983493968-6550b6afbe96?q=80&w=2598&auto=formatfit=crop&w=768&q=80&h=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold">BTP Multitenant Product Development</h2>
      <p class="text-muted mt-2">
        Many Independent Software Vendors (ISVs) are building scalable products on BTP to modernize their solutions and
        leverage SAP's ecosystem. However, they often face challenges with SAP-specific technologies, multitenant
        architectures, and service integration. This can lead to inefficient BTP usage and missed opportunities. We
        guide ISVs in developing multitenant applications, offering expertise in SAP Cloud Application Programming (CAP)
        and BTP service integration. Our hands-on approach includes knowledge transfer and practical strategies for
        secure tenant separation and effective resource optimization.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Services>

  <!-- Services Widget **************** -->

  <Services
    id="ApplicationPerformanceOptimization"
    isAfterContent
    items={[]}
    image={{
      src: 'https://images.unsplash.com/photo-1611760411635-d177d86ac2ba?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold">Application Performance Optimization</h2>
      <p class="text-muted mt-2">
        Post-go-live performance issues often arise in SAP systems when non-functional requirements are overlooked
        during implementation. We address this by implementing observability using logs, traces, and metrics to identify
        inefficiencies. This proactive approach, combined with performance testing tools, allows teams to anticipate
        issues, set up alerts, and gain system transparency. By analyzing observability data and load test results, we
        identify bottlenecks and teach teams to recognize these issues. This data-driven strategy empowers teams to
        optimize queries, streamline code, and balance resources, enhancing response times and user experience while
        aligning with organizational goals cost-effectively..
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Services>

  <!-- Services Widget **************** -->

  <Services
    id="SecurityandComplianceReadiness"
    isReversed
    items={[]}
    image={{
      src: 'https://images.unsplash.com/photo-1493129922668-fcb1a8514643?q=80&w=2450&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold">Security and Compliance Readiness</h2>
      <p class="text-muted mt-2">
        BTP environments are often set up quickly, with organizations leveraging free credits gung ho without
        prioritizing security, leading to vulnerabilities. Our reviews frequently uncover security issues in these
        systems. We provide assessments of custom code, configurations, and access controls, delivering detailed reports
        that outline your security posture and highlight areas needing attention. We equip you with practical tools,
        knowledge, runbooks, and automation for immediate remediation and ongoing security management. This approach
        enables alignment with your enterprise security strategies and DevSecOps practices, ensuring security
        integration throughout your development lifecycle.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Services>

  <!-- Services Widget **************** -->
  <Services
    id="TechnicalRescue"
    isAfterContent
    items={[]}
    image={{
      src: 'https://images.unsplash.com/photo-1534621107955-b06bbc17b043?q=80&w=2667&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold">Technical Rescue</h2>
      <p class="text-muted mt-2">
        Teams supporting applications or using new technologies often face blocked systems and outdated practices that
        hinder business operations. We step in when these teams are stuck, providing fresh perspectives and years of
        problem-solving experience. Our technical assessments identify immediate fixes and long-term improvements to
        restore operations and enhance efficiency. This proactive approach helps teams shift from constant firefighting
        to streamlined application support, aligning with organizational goals and delivering business value.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Services>
  <!-- Services Widget **************** -->

  <Services
    id="ConsultingPartnerOversight"
    isReversed
    items={[]}
    image={{
      src: 'https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold">Consulting Partner Oversight</h2>
      <p class="text-muted mt-2">
        Many organizations find consulting partners often underdeliver, using bait-and-switch tactics or delivering
        solutions only they can support. These issues stem from consultants' inexperience with technology, leading to
        shortcuts and compromises. As a result, projects veer off track, lose sight of key objectives, and fail to
        deliver expected value. We provide expert oversight on consulting engagements, ensuring efforts meet intended
        goals. Our approach uses industry best practices, offering early and frequent feedback to prevent 'watermelon'
        reporting. This helps deliver successful outcomes aligned with organizational objectives, avoiding common
        pitfalls in technology-driven projects.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Services>
  <!-- Services Widget **************** -->

  <Services
    id="TeamRecruitment"
    isAfterContent
    items={[]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-xl font-bold">Team Recruitment</h2>
      <p class="text-muted mt-2">
        Assembling the right team is crucial for achieving BTP business case objectives. Hiring the wrong team wastes
        time and money. Often, managers focus on perceived skills gaps rather than actual needs, leading to misaligned
        hires. We improve job descriptions and assist with interviews, asking questions to identify the right problem
        solvers for each role. Our method considers skills, team fit, and growth potential. This ensures your team
        delivers maximum value and effectively meets BTP objectives, avoiding costly hiring mistakes and aligning with
        your business goals.
      </p>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Services>

  <!-- Testimonials Widget ****************** -->
  <Testimonials
    id="testimonials"
    title="Words from real customers"
    tagline="What They Say"
    testimonials={[
      {
        testimonial: `It felt inspiring to watch you cut with ease through complexity, really enjoyed working with you.`,
        name: 'Enterprise Architect',
        job: 'Fortune 500 Company',
      },
      {
        testimonial: `I'm not sure if you have any idea how much you've helped the team. I've definitely learned a lot from you even from the limited time we've worked together.`,
        name: 'Product Owner',
        job: 'Technology Firm',
      },
      {
        testimonial: `Without your team's input and knowledge, we would not be on the road to improvement.`,
        name: 'Business Solution Owner',
        job: 'Global Enterprise',
      },
      {
        testimonial: `I really appreciated the way you always gave us the realities of what we are doing and where we headed, good bad or indifferent.`,
        name: 'Product Owner',
        job: 'SAP-Centric Organization',
      },
      {
        testimonial: `You really helped us through a very tough time. True leaders always share the knowledge and are willing to help.`,
        name: 'Software Developer',
        job: 'Large-Scale SAP Implementation',
      },
      {
        testimonial: `Nothing was too much trouble, and the scrum teams had positive interactions, always complimenting the leadership and expertise. Second Phase is an asset to any technical build or team requiring strategic direction.`,
        name: 'Scrum Master',
        job: 'Complex SAP BTP Landscape',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="about"
    title="About Second Phase Solutions."
    subtitle="Founded in 2013 by SAP Mentor alum John Patterson, we are a cooperative of like-minded associates dedicated to modernizing SAP development."
    tagline="Who We Are"
    items={[
      {
        title: 'Global Reach',
        description:
          "We assist blue-chip companies and government agencies in Australia and worldwide, helping them adopt cutting-edge SAP technologies and overcome technical challenges.",
        icon: 'tabler:world',
      },
      {
        title: 'Strategic Partnerships',
        description:
          "We collaborate with industry leaders like SAP, Accenture, NTT Data, and DXC on presales, product development, and project implementation.",
        icon: 'tabler:link',
      },
      {
        title: 'Recognized Authority',
        description: "John Patterson is a recognized authority in the SAP community, sharing his experiences on cloud programming, DevOps at scale, and migrating to cloud platforms through engaging talks.",
        icon: 'tabler:speakerphone',
      },
      {
        title: 'Industry Expertise',
        description: "Our team regularly publishes articles on various SAP topics, including analyses of SAP's open-source initiatives.",
        icon: 'tabler:carambola',
      },
      {
        title: 'Innovative Solutions',
        description: "We provide strategic insights to help clients optimize their SAP environments and successfully navigate their cloud journey.",
        icon: 'tabler:bulb',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'About us image',
    }}
  />




  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- Contact Widget ******** -->
  <ContactUs
    id="contact"
    tagline='Talk To Us'
    title="Drop us a message today!"
    subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Our support team typically responds within 24 business hours."
  />
</Layout>
